<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" internalLogFile="logs/logs.log">
  <!--如果日志写入失败，会把错误写入此文件-->
  <!--<targets>
    <target name="logfile" xsi:type="File" fileName="logs/${shortdate}.log" />

  </targets>-->

  <targets>
    <target type="Database" dbProvider="System.Data.SqlClient"
 name="database" connectionstring="${var:connectionString}">
      <commandText>
        insert into dbo.SysLog (
        Application, Logged, Level, Message,
        Logger, Callsite, Exception
        ) values (
        @Application, @Logged, @Level, @Message,
        @Logger, @Callsite, @Exception
        );
      </commandText>

      <parameter name="@application" layout="AspNetCoreNlog" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>
  </targets>
  <rules>
    <!--<logger name="*" minlevel="Info" appendTo="logfile" />-->
    <logger name="*" minlevel="Error" appendTo="database" />
  </rules>
</nlog>